/* ------------- Main ------------- */
/* Fonts: */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans {
	font-family: "Work Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 400;
}

/* Boilerplate: */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* Variables: */
	--player-dim: 1.6rem;

	/* Colors: */
	--hotspurs-red: #ed1b24;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: "Work Sans", "Times New Roman", Arial, sans-serif;
}

button {
	cursor: pointer;
}

/* ------------ Views ------------- */
.home {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

/* ---------- Components ---------- */
/* Toolbar: */
.toolbar {
	display: flex;
	background-color: #72deae73;
	padding: 0.4rem 1rem;
	flex-shrink: 0;
}

/* Canvas: */
.canvas {
	flex: 1;
	position: relative;
	overflow: hidden;
	height: 500px;
}

/* --- Components / Draggables ---- */
/* Player: */
.node {
	cursor: grab;
	position: absolute;
	transition: background-color ease-in-out 0.3s;
}

.node.dragging {
	cursor: grabbing;
}

.drag-overlay {
	cursor: grabbing;
}

.player {
	width: var(--player-dim);
	height: var(--player-dim);
	border-radius: calc(var(--player-dim) / 2);

	background-color: var(--hotspurs-red);
	box-shadow:
		inset 0 1px 2px rgba(255, 255, 255, 0.4),
		inset 0 -1px 2px rgba(0, 0, 0, 0.25),
		0 2px 4px rgba(0, 0, 0, 0.3);
}

/* ------------- Dev -------------- */
.dev .node {
	width: var(--player-dim);
	height: var(--player-dim);
	border-radius: calc(var(--player-dim) / 2);

	background-color: #7814ff;
	box-shadow:
		inset 0 1px 2px rgba(255, 255, 255, 0.4),
		inset 0 -1px 2px rgba(0, 0, 0, 0.25),
		0 2px 4px rgba(0, 0, 0, 0.3);
}

.dev .canvas {
	/* border: 1px dashed #7814ff; */
}

.dev .node.dragging {
	background-color: #fdb20b;
	cursor: grabbing;
}
