/* ------------ Fonts ------------- */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans {
	font-family: "Work Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 400;
}

/* ------------- Main ------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* Variables: */
	--player-dim: 1.6rem;

	/* Colors: */
	--hotspurs-red: #ed1b24;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: "Work Sans", "Times New Roman", Arial, sans-serif;
}

button {
	cursor: pointer;
}

/* ------------ Views ------------- */
.home {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

/* ---------- Components ---------- */
.toolbar {
	display: flex;
	background-color: #72deae73;
	padding: 0.4rem 1rem;
	flex-shrink: 0;
}

.canvas {
	flex: 1;
	position: relative;
	overflow: hidden;
	height: 500px;
}

/* ------ Components / Nodes ------ */
/* PENDING: Add a node hover effect */
.node {
	cursor: grab;
	position: absolute;
	transition: background-color ease-in-out 0.3s;
}

.node.dragging {
	cursor: grabbing;
}

.drag-overlay {
	cursor: grabbing;
}

.player {
	text-align: center;
	z-index: 2;
}

.player__sprite {
	margin: 0 auto;

	width: var(--player-dim);
	height: var(--player-dim);
	border-radius: calc(var(--player-dim) / 2);

	background-color: var(--hotspurs-red);
	box-shadow:
		inset 0 1px 2px rgba(255, 255, 255, 0.4),
		inset 0 -1px 2px rgba(0, 0, 0, 0.25),
		0 2px 4px rgba(0, 0, 0, 0.3);
}

.cone {
	/* PENDING: The node that was moved last should have a higher z-index. */
	z-index: 1;
}

.cone-icon {
	width: 2.4rem;
	height: auto;
	display: block;
}

/* ------------- Dev -------------- */
.dev .canvas {
	border: 1px dashed #7814ff;
}
